<p id="notice"><%= notice %></p>

<p>
  <b>Invoice:</b>
  <%= @invoiceitem.invoice_id %>
</p>

<p>
  <b>Description:</b>
  <%= @invoiceitem.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @invoiceitem.amount %>
</p>


<%= link_to 'Edit', edit_invoiceitem_path(@invoiceitem) %> |
<%= link_to 'Back', invoiceitems_path %>
